body#options-page {
    background: #f2f5f6;
    width: auto !important;
}
#options {

    width: 650px;
    margin: 0px auto;
    padding: 20px;
    color: #383838;
}


#options-header {
    height: 50px;
    margin-bottom: 25px;
}
#options-header h4{
    text-align: center;

}

#options-text{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
#options-container {
    background-color: #fff;
    border: 1px solid #cacaca;
    padding: 30px 46px;
    box-shadow: 0px 1px 0px #fff;
    -webkit-box-shadow: 0px 1px 0px #fff;
    -mozbox-shadow: 0px 1px 0px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -border-radius: 5px;
}
#options-container .form-group {
    min-height: 60px;
    border-top: 1px solid #DADADA;
    padding-top:20px
}


.form-horizontal .control-label {
    font-weight: bold;
    text-align:left
}
.form-group p {
    font-size:small;
}
#status  {
    position: fixed;
    left: 43%;
    bottom: 50%;
    margin-left:auto;
    margin-right:auto;
    vertical-align:center;
    z-index:8;
    text-align: center;
    display:none;
    -webkit-transition: all 250ms linear;
}

#status .message {
    text-align: center;
    font-size: 13px;
    -webkit-border-radius: 4px;
    padding: 6px 25px;

}

#options-container .help-inline {
    color: #b94a48;
    display:none
}

#options-container .form-group.error .help-inline {
    color: #b94a48;
    display:inline-block;
}

#options-header h3 {
    background:url(../images/jce_icon48.png) center left no-repeat;
    padding-left: 80px;
    white-space:nowrap;
}